doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width")
    title Title
    link(href="assets/css/style.css" rel="stylesheet")
  body
    div.root
    div.app-container#app-root
    script(src="assets/js/main.js")